* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --button: #FF0000;
  --main-background:  #C4C4C4;
  --background: #E5E5E5;
  --text: #000;
  --footer: #000;
  --text-description: #9C9696;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #E5E5E5;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 30px;
  display: flex;
  align-items: center;
  position: fixed;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.nav-links {
  display: flex;
  column-gap: 90px;
  flex-wrap: wrap;
  margin: 0 30px;
}

.nav-link a {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  padding: 10px;
}

.input-wrapper {
 margin-right: 60px;
 background: #fff;
 padding: 10px;
}

.input-wrapper::before {
  content:url(./assets/icon-search.svg);
  vertical-align: middle;
}

#search {
  font-size: 1.125rem;
  font-weight: 500;
  color:#9C9696;
  padding: 10px 15px;
  border: none;
  outline: none;
}

#search::placeholder {
  color: #9C9696;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
}

.left {
  padding: 200px 20px 20px;
}

.left h1 {
  font-size: 3.75rem;
  text-transform: capitalize;
}

.left p {
  color: #9C9696;
  margin-top: 20px;
  margin-bottom: 40px;
}

.left span {
  font-size: 2.5rem;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

.red-btn {
  width: 270px;
  background-color: #FF0000;
  color: #fff;
  padding: 30px 80px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.right {
  text-align: center;
  background:#C4C4C4;
  padding: 200px 20px 20px;
}

.gallery {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container:nth-child(2) {
  border-bottom: 5px solid #FF0000;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.social-links {
  display: flex;
  margin-left: 30px;
  margin-right: auto;
  flex-wrap: wrap;
}

.social-link a {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
  padding: 10px;
  margin-right: 60px;
}

.black-btn {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  padding: 30px 80px;
  height: 150px;
  cursor: pointer;
}

.black-btn::after {
  content: url(./assets/icon-arrow.svg);
  vertical-align: middle;
  margin-left: 15px;
}

@media (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr
  }
  .header {
    position: unset;
  }
  .left,
  .right {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }
 .footer-wrapper {
   flex-wrap: wrap;
 }
 .footer-wrapper > * {
   flex: 1;
 }
 .img-container {
   display: block;
   max-width: 100%;
 }
}